<MudPaper Class="pa-5">
    <MudGrid Spacing="2" Justify="Justify.Center">
        <MudItem lg="12" Class="pb-5">
            <MudText Typo="Typo.h3" Align="Align.Center">
                About <span class="text-purple-500 font-bold"
                            style="font-family: 'Nothing You Could Do', cursive;">Me</span>
            </MudText>
        </MudItem>
        <MudItem xs="12" lg="4">
            <MudCard Outlined="true">
                <MudCardMedia Class="border-solid border-1 transition duration-300 hover:scale-90" Image="/test.png" Height="200" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Old Paint</MudText>
                    <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                    <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" lg="4">
            <MudCard Outlined="true">
                <MudCardMedia Class="border-solid border-1 transition duration-300 hover:scale-90" Image="/test.png" Height="200" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Old Paint</MudText>
                    <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                    <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" lg="4">
            <MudCard Outlined="true">
                <MudCardMedia Class="border-solid border-1 transition duration-300 hover:scale-90" Image="/test.png" Height="200" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Old Paint</MudText>
                    <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                    <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudPaper>

@code {

}
