<MudPaper Class="pa-5">
    <MudGrid Spacing="2" Justify="Justify.Center">
        <MudItem lg="12">
            <div data-aos="fade-right" data-aos-delay="50" data-aos-mirror="true">
                <MudText Typo="Typo.h3" Align="Align.Center">
                    About <span class="text-purple-500 font-bold"
                                style="font-family: 'Nothing You Could Do', cursive;">Me</span>
                </MudText>
            </div>
        </MudItem>
        <MudItem lg="12">
            <div data-aos="fade-right" data-aos-delay="50" data-aos-mirror="true">
                <MudPaper Square="true" Class="d-flex justify-center pa-5">
                    <MudGrid>
                        <MudItem xs="12" lg="6">
                            <MudText Align="Align.Start" Typo="Typo.body1">
                                Long ago, people paid to use computers with internet access in places called Internet Cafés (I'm sorry if I'm making you feel old).
                                Since I was a kid, I've always been drawn to the "Web," so any money I could get was spent browsing and playing online.
                            </MudText>
                        </MudItem>
                        <MudItem xs="12" lg="6">
                            <MudText Align="Align.Start" Typo="Typo.body1">
                                Now, I'm the man who loses track of time creating stylish and interactive web pages with the goal of making people's lives easier.
                                I've led multiple application projects and understand the entire development lifecycle, mostly with Microsoft technologies.
                            </MudText>
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            </div>
        </MudItem>
        <MudItem lg="12">
            <div data-aos="fade-left" data-aos-delay="50" data-aos-mirror="true">
                <MudGrid Spacing="2" Justify="Justify.Center">
                    <MudItem xs="12" lg="4">
                        <MudCard Elevation="2">
                            <MudCardMedia Class="border-solid border-1 transition duration-300 hover:scale-90"
                                          Image="./images/award.jpg"
                                          Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.h5">
                                    2023 Stand Out Performer
                                </MudText>
                                <MudText Typo="Typo.body2">
                                    Here I'm receving the Stand Out Performer award at Epic Software.
                                </MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text"
                                           Href="https://aubrant.com/"
                                           Target="_blank"
                                           Color="Color.Primary">
                                    Company I currently work for
                                </MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                    <MudItem xs="12" lg="4">
                        <MudCard Elevation="2">
                            <MudCardMedia Class="border-solid border-1 transition duration-300 hover:scale-90"
                                          Image="./images/title.jpg"
                                          Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.h5">
                                    MEng. Systems Engineering
                                </MudText>
                                <MudText Typo="Typo.body2">
                                    This photo was taken the day I got my MEng at Universidad Estatal a Distancia in Costa Rica.
                                </MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudTooltip Duration="500" Text="This page is in Spanish">
                                    <MudButton Variant="Variant.Text"
                                               Color="Color.Primary"
                                               Href="https://www.uned.ac.cr/ecen/ingenieria-informatica-y-administracion-de-proyectos"
                                               Target="_blank">
                                        Learn More
                                    </MudButton>
                                </MudTooltip>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                    <MudItem xs="12" lg="4">
                        <MudCard Elevation="2">
                            <MudCardMedia Class="border-solid border-1 transition duration-300 hover:scale-90"
                                          Image="./images/crux.jpg"
                                          Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.h5">
                                    Tesoro Directo Team
                                </MudText>
                                <MudText Typo="Typo.body2">
                                    This was team I work with to create a Fintech app for the costarican goverment.
                                </MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudTooltip Duration="500" Text="This page is in Spanish">
                                    <MudButton Variant="Variant.Text"
                                               Color="Color.Primary"
                                               Href="https://www.elfinancierocr.com/finanzas/tesoro-directo-esta-ganando-protagonismo-como-opcion-de-fondeo-de-hacienda/VKYJMWBQT5G7RHCAX5IEOBV7X4/story/"
                                               Target="_blank">
                                        Learn More
                                    </MudButton>
                                </MudTooltip>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                </MudGrid>
            </div>
        </MudItem>
    </MudGrid>
</MudPaper>

@code {

}
