<MudPaper Class="pa-5">
    <MudGrid Spacing="2" Justify="Justify.Center">
        <MudItem lg="12">
            <MudText Typo="Typo.h3" Align="Align.Center">
                About <span class="text-purple-500 font-bold"
                            style="font-family: 'Nothing You Could Do', cursive;">Me</span>
            </MudText>
        </MudItem>
        <MudItem lg="12">
            <MudStack Row="true" Spacing="2" Justify="Justify.SpaceAround">
                <MudImage Class="hover:scale-125 transition duration-300"
                          Height="100"
                          Width="100"
                          Src="https://images.unsplash.com/photo-1543269865-cbf427effbad?q=80&w=3570&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
                <MudImage Class="hover:scale-125 transition duration-300"
                          Height="100"
                          Width="100"
                          Src="https://images.unsplash.com/photo-1543269865-cbf427effbad?q=80&w=3570&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
                <MudImage Class="hover:scale-125 transition duration-300"
                          Height="100"
                          Width="100"
                          Src="https://images.unsplash.com/photo-1543269865-cbf427effbad?q=80&w=3570&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />

            </MudStack>
        </MudItem>
    </MudGrid>
</MudPaper>

@code {

}
