
<div data-aos="zoom-out" data-aos-delay="50" data-aos-mirror="true">
    <MudBreakpointProvider>
        <MudHidden Breakpoint="Breakpoint.LgAndUp" Invert="true">
            <MudCard Elevation="4" Outlined="true" Style="height: 400px; width: 500px;">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Primary">B</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">Hello!</MudText>
                        <MudText Typo="Typo.body2">Here's a little about your next project engineer.</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Error" OnClick="CloseCallback" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Typo="Typo.h1">
                        Here goes a video
                    </MudText>
@*                     <iframe src="https://www.youtube.com/embed/YHkBmxpCFAg"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe> *@
                </MudCardContent>
            </MudCard>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
            <MudCard Elevation="4" Outlined="true" Style="height: 400px; width: 350px;">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Primary">B</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">Hello!</MudText>
                        <MudText Typo="Typo.body2">Here's a little about your next project engineer.</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Error" OnClick="CloseCallback" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <iframe src="https://www.youtube.com/embed/YHkBmxpCFAg"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </MudCardContent>
            </MudCard>
        </MudHidden>
    </MudBreakpointProvider>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public EventCallback OnClose { get; set; }

    private async Task CloseCallback() =>
        await OnClose.InvokeAsync();
}
