<div class="ma-3" data-aos="fade-down" data-aos-delay="200" style="position: absolute; top: 25%; left: 50%; transform: translate(-50%, -50%); z-index: 1;">
    <MudCard Elevation="4" Outlined="true">
        <MudCardHeader Class="py-2">
            <CardHeaderAvatar>
                <MudAvatar Color="Color.Primary">B</MudAvatar>
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.h5">Hello!</MudText>
                <MudText Typo="Typo.body2">Here's a little about your project engineer.</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <iframe style="width: 25vw;height: 15vw;"
                    src="https://www.youtube.com/embed/YHkBmxpCFAg"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </MudCardContent>
    </MudCard>
</div>

@code {

}
