<MudPaper Elevation="2" Class="pa-5">
    <MudGrid Spacing="1" Justify="Justify.SpaceEvenly">
        <MudItem lg="12" Class="pb-4">
            <h1 id="typing" class="font-sans font-semibold">
                Building Software At Startup Speed | .NET Full-Stack
            </h1>
        </MudItem>
        <MudItem lg="9" Class="flex flex-row">
            <div data-aos="fade-down" data-aos-delay="50">
                <MudStack Row="true">
                    <MudImage Src="/profilepic.jpg"
                              Elevation="25"
                              Height="150"
                              Width="150"
                              Class="rounded-circle mr-2" />
                    <MudText Typo="Typo.h5">
                        Have great <span class="text-purple-500 font-bold"
                                         style="font-family: 'Nothing You Could Do', cursive;">IDEA</span>
                        <br class="max-sm:hidden lg:hidden xl:block">for a Web Application?
                    </MudText>
                </MudStack>
            </div>
        </MudItem>
        <MudItem lg="3">
            <div data-aos="fade-down" data-aos-delay="50">
                <MudText Typo="Typo.h6">
                    You're a click away from the Web page you want.
                </MudText>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-2">
                    Let's talk
                </MudButton>
            </div>
        </MudItem>
    </MudGrid>
</MudPaper>

@code {

}
