<MudPaper Elevation="5" Class="pa-5">
    <MudGrid Justify="Justify.SpaceEvenly">
        <MudItem lg="12" Class="pb-2">
            <h1 id="typing" class="font-sans font-semibold">
                Building Software At Startup Speed | .NET Full-Stack
            </h1>
        </MudItem>
        <MudItem xs="12" lg="2" Class="d-flex justify-center">
            <div data-aos="fade-down" data-aos-delay="50">
                <MudImage Src="./images/profilepic.jpg"
                          Elevation="25"
                          Height="150"
                          Width="150"
                          Class="rounded-circle" />
            </div>
        </MudItem>
        <MudItem xs="12" lg="2">
            <div data-aos="fade-down" data-aos-delay="50">
                <MudText Typo="Typo.h5">
                    Have great <span class="text-purple-500 font-bold"
                                     style="font-family: 'Nothing You Could Do', cursive;">IDEA</span>
                    <br class="max-sm:hidden lg:hidden xl:block">for a Web Application?
                </MudText>
            </div>
        </MudItem>
        <MudItem xs="12" lg="4" Class="d-flex justify-center">
            <MudStack>
                <MudImage Src="./images/Monitors.gif"
                          Height="150"
                          Width="150" />
                <MudButton Variant="Variant.Filled" 
                           Color="Color.Primary"
                           OnClick="@ToggleOpen">
                    Let's meet
                </MudButton>
            </MudStack>
        </MudItem>
        <MudItem xs="12" lg="4">
            <div data-aos="fade-down" data-aos-delay="50">
                <MudText Typo="Typo.h6">
                    You're a few clicks away from the Web page you want.
                </MudText>
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           Href="https://zcal.co/bryansanchez/discovery"
                           Target="_blank"
                           Class="mt-2">
                    Schedule a meeting
                </MudButton>
            </div>
        </MudItem>
    </MudGrid>
</MudPaper>

@* <MudOverlay @bind-Visible="_open" AutoClose="true" />
<MudPopover Open="@_open" Fixed="true" AnchorOrigin="Origin.TopCenter" TransformOrigin="Origin.TopCenter">
    <GreetingCard OnClose="ToggleOpen" />
</MudPopover> *@

@code {
    private bool _open;

    private void ToggleOpen() =>
        _open = !_open;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        _open = true;
    }
}
