<MudPaper Class="pa-5">
    <MudGrid Class="mt-20">
        <MudItem lg="12">
            <MudStack Justify="Justify.Center">
                <MudText Align="Align.Center" Typo="Typo.h3">
                    How we'll <span class="text-purple-500 font-bold"
                                    style="font-family: 'Nothing You Could Do', cursive;">Work</span>
                </MudText>
                <MudText Align="Align.Center" Typo="Typo.input">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quam voluptatibus cupidatat.
                    Lorem ipsum dolor sit amet consectetur.
                </MudText>
            </MudStack>
        </MudItem>
        <MudItem lg="4">
            <MudCard>
                <MudCardHeader Class="pb-0">
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Warning" Variant="Variant.Filled">
                            <MudIcon Color="Color.Dark" Icon="@Icons.Material.Filled.Code" Size="Size.Medium" />
                        </MudAvatar>
                    </CardHeaderAvatar>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Typo="Typo.h6">
                        Modern tools and Frameworks
                    </MudText>
                    <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem lg="4">
            <MudCard>
                <MudCardHeader Class="pb-0">
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Warning" Variant="Variant.Filled">
                            <MudIcon Color="Color.Dark" Icon="@Icons.Material.Filled.Devices" Size="Size.Medium" />
                        </MudAvatar>
                    </CardHeaderAvatar>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Typo="Typo.h6">
                        Fully Responsive Design
                    </MudText>
                    <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem lg="4">
            <MudCard>
                <MudCardHeader Class="pb-0">
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Warning" Variant="Variant.Filled">
                            <MudIcon Color="Color.Dark" Icon="@Icons.Material.Filled.PersonSearch" Size="Size.Medium" />
                        </MudAvatar>
                    </CardHeaderAvatar>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Typo="Typo.h6">
                        Client First Focus
                    </MudText>
                    <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudPaper>

@code {

}
