<MudPaper Class="pa-5">
    <MudStack AlignItems="AlignItems.Center">
        <MudText Typo="Typo.h3">
            <span class="text-purple-500 font-bold"
                  style="font-family: 'Nothing You Could Do', cursive;">Technos</span> we use
        </MudText>
        <MudCarousel Class="mud-width-full imgBox" Style="height:100px;" 
                     ShowArrows="false" 
                     ShowBullets="false" 
                     EnableSwipeGesture="false" 
                     AutoCycleTime="new TimeSpan(0, 0, 2)"
                     AutoCycle="true"
                     TData="object">
            <MudCarouselItem Transition="Transition.Fade">
                <MudImage Class="grayscale" Src="./logos/html.png" />
                <MudImage Class="grayscale" Src="./logos/css.png" />
                <MudImage Class="grayscale" Src="./logos/js.png" />
                <MudImage Class="grayscale" Src="./logos/c-sharp.png" />
                <MudImage Class="grayscale" Src="./logos/vue.png" />
            </MudCarouselItem>
            <MudCarouselItem Transition="Transition.Fade">
                <MudImage Class="grayscale" Src="./logos/blazor.png" />
                <MudImage Class="grayscale" Src="./logos/angular.png" />
                <MudImage Class="grayscale" Src="./logos/jquery.png" />
                <MudImage Class="grayscale" Src="./logos/tailwind.png" />
                <MudImage Class="grayscale" Src="./logos/dotnet.png" />
            </MudCarouselItem>
        </MudCarousel>
    </MudStack>
</MudPaper>