<BackgroundPaper>
    <MudGrid>
        <MudItem lg="12">
            <MudText Align="Align.Center" Typo="Typo.h3">
                <span class="text-purple-500 font-bold" style="font-family: 'Nothing You Could Do', cursive;">
                    Testimonials
                </span>
            </MudText>
        </MudItem>
        <MudItem xs="12" lg="6">
            <MudList T="string">
                <MudListItem Class="mud-elevation-4" OnClick="() => ChangeCarouselItem(0)">
                    <AvatarContent>
                        <MudAvatar>
                            <MudImage Src="./images/CarlosG.jpg" />
                        </MudAvatar>
                    </AvatarContent>
                    <ChildContent>
                        <MudText Typo="Typo.h6">Carlos Gutierrez</MudText>
                        <MudText Typo="Typo.subtitle1">Senior Project Manager</MudText>
                    </ChildContent>
                </MudListItem>
                <MudListItem Class="mud-elevation-4" OnClick="() => ChangeCarouselItem(1)">
                    <AvatarContent>
                        <MudAvatar>
                            <MudImage Src="./images/PabloV.jpg" />
                        </MudAvatar>
                    </AvatarContent>
                    <ChildContent>
                        <MudText Typo="Typo.h6">Pablo Viquez</MudText>
                        <MudText Typo="Typo.subtitle1">Technical Lead</MudText>
                    </ChildContent>
                </MudListItem>
                <MudListItem Class="mud-elevation-4" OnClick="() => ChangeCarouselItem(2)">
                    <AvatarContent>
                        <MudAvatar>
                            <MudImage Src="./images/RyanH.jpg" />
                        </MudAvatar>
                    </AvatarContent>
                    <ChildContent>
                        <MudText Typo="Typo.h6">Ryan Harlamert</MudText>
                        <MudText Typo="Typo.subtitle1">Lead Developer</MudText>
                    </ChildContent>
                </MudListItem>
            </MudList>
        </MudItem>
        <MudItem xs="12" lg="6">
            <MudCarousel @ref="_carousel"
                         @bind-SelectedIndex="selectedIndex"
                         ItemsSource="@_source"
                         Class="mud-width-full"
                         Style="height:220px;"
                         AutoCycle="false"
                         EnableSwipeGesture="true"
                         ShowArrows="false"
                         ShowBullets="true">
                <ItemTemplate>
                    <div class="d-flex justify-center" style="height:100%;">
                        <MudStack Class="mud-width-full" Justify="Justify.FlexStart" Wrap="Wrap.NoWrap">
                            <MudRating SelectedValue="5" Size="Size.Large" />
                            <MudText Typo="Typo.body1">
                                @context
                            </MudText>
                        </MudStack>
                    </div>
                </ItemTemplate>
            </MudCarousel>
        </MudItem>
    </MudGrid>
</BackgroundPaper>

@code {
    private int selectedIndex;
    private MudCarousel<string>? _carousel;
    private List<string> _source = new List<string>
    {
        "Attitude over all, focused on results and converting every idea into real-world app. It’s great having Bryan for my project.",
        "I was highly impressed with Bryan's contributions. He consistently demonstrated a strong work ethic and a remarkable capacity to absorb information quickly, making him a valuable asset to any team.",
        "Bryan is a highly capable developer with a strong work ethic. They quickly grasped complex concepts and consistently delivered high-quality work."
    };

    protected override void OnInitialized() =>
        selectedIndex = 0;

    private void ChangeCarouselItem(int key) =>
        selectedIndex = key;
}
