<BackgroundPaper>
    <MudStack Justify="Justify.Center">
        <MudText Align="Align.Center" Typo="Typo.h3">
            How we'll <span class="brand-text font-bold">Work</span>
        </MudText>
        <MudBreakpointProvider>
            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                <Timeline Orientation="TimelineOrientation.Horizontal" />
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
                <Timeline Orientation="TimelineOrientation.Vertical" />
            </MudHidden>
        </MudBreakpointProvider>
    </MudStack>
</BackgroundPaper>