@page "/"
@using MudLandingBryanSanchez.Components

@implements IAsyncDisposable
@inject IJSRuntime JS

<PageTitle>Bryan Sanchez Senior Dev</PageTitle>
<MudGrid Justify="Justify.Center" Spacing="4" Class="mt-2">
    <MudItem lg="12">
        <div data-aos="fade-zoom-in"
             data-aos-easing="ease-in-back"
             data-aos-delay="200"
             data-aos-offset="0">
            <Landing />
        </div>
    </MudItem>
    <MudItem lg="12">
        <div data-aos="fade-zoom-in"
             data-aos-easing="ease-in-back"
             data-aos-delay="200"
             data-aos-offset="0">
            <WorkSteps />
        </div>
    </MudItem>
    <MudItem lg="12">
        <div data-aos="fade-zoom-in"
             data-aos-easing="ease-in-back"
             data-aos-delay="200"
             data-aos-offset="0">
            <Features />
        </div>
    </MudItem>
    <MudItem lg="12">
        <div data-aos="fade-zoom-in"
             data-aos-easing="ease-in-back"
             data-aos-delay="200"
             data-aos-offset="0">
            <Technologies />
        </div>
    </MudItem>
    <MudItem lg="12">
        <div data-aos="fade-zoom-in"
             data-aos-easing="ease-in-back"
             data-aos-delay="200"
             data-aos-offset="0">
            <About />
        </div>
    </MudItem>
    <MudItem lg="12">
        <div data-aos="fade-zoom-in"
             data-aos-easing="ease-in-back"
             data-aos-delay="200"
             data-aos-offset="0">
            <Testimonials />
        </div>
    </MudItem>
</MudGrid>

@code {
    private IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/typewriter.js");

            await module.InvokeVoidAsync("typeText");
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }
}
