@page "/"
@using MudLandingBryanSanchez.Components

@implements IAsyncDisposable
@inject IJSRuntime JS

<PageTitle>Bryan Sanchez Senior Dev</PageTitle>
<MudGrid Spacing="4" Class="mt-2">
    <MudItem lg="12">
        <div data-aos="fade-left" data-aos-delay="50" data-aos-mirror="true">
            <Landing />
        </div>
    </MudItem>
    <MudItem lg="12">
        <Services />
    </MudItem>
    <MudItem lg="12">
        <div data-aos="fade-left" data-aos-delay="50" data-aos-mirror="true">
            <Technologies />
        </div>
    </MudItem>
    <MudItem lg="12">
        <About />
    </MudItem>
    <MudItem lg="12">
        <div data-aos="fade-left" data-aos-delay="50" data-aos-mirror="true">
            <Testimonials />
        </div>
    </MudItem>
</MudGrid>

@code {
    private IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "/typewriter.js");

            await module.InvokeVoidAsync("typeText");
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }
}
